{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
    <section class="gh-pagehead">
        <header class="gh-pagehead-content">
            <h1 class="gh-pagehead-title">Archive</h1>

            <div class="gh-pagehead-description">
                {{#if description}}
                    {{description}}
                {{/if}}
            </div>
        </header>
    </section>

    {{#get "posts" include="tags" filter="featured:true" limit="3" as |featured|}}
        {{#if featured}}
            <section class="gh-section gh-section-featured">
                <h3 class="gh-section-title"><span>Featured</span></h3>

                <div class="gh-featured">
                    {{#foreach featured}}
                        {{> loop}}
                    {{/foreach}}
                </div>
            </section>
        {{/if}}
    {{/get}}

    <!-- <section class="gh-section">
        <h3 class="gh-section-title"><span>Newsletter Topics</span></h3>
        {{#get "tags" limit="all"}}
        <div class="gh-feed">
          {{#foreach tags}}
            <div class="topic">
                <span class="topic-header">
                    <h2 class="topic-name">
                        <a href="{{url}}">{{name}}</a>
                    </h2>
                </span>
            </div>
          {{/foreach}}
        </div>
         {{/get}}
    </section> -->

    <section class="gh-section">
        <h3 class="gh-section-title"><span>All Newsletters</span></h3>

        <div class="gh-feed">
            {{#get "posts" include="tags" limit="all"}}
                {{#foreach posts}}
                    {{> loop}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>
</main>
